.editableSpanWrapper {
    margin-bottom: 15px;
}

.button {
    background: none;
    border: none;
    width: 17px;
    padding: 0;
    cursor: pointer;
}

.button img {
    width: 100%;
}

.name {
    font-size: 20px;
    margin: 0 10px 15px 0;
}
