.cardsContainer {
    width: 80%;
    margin: 0 auto;
}

.backToPacksBlock {
    margin-bottom: 20px;
}

.tableTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 20px 0;
}

.cardsNotFound {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.backToPacksLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    font-size: 14px;
}

.backToPacksLink span {
    margin-left: 10px;
}

.inputLabelText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
}

.tableSellIcons > * {
    border: none;
    background: none;
    cursor: pointer;

}

.modalAddCard {

}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0px 20px;
}

.formError {
    font-size: 14px;
    color: #ff0000ff;
}