.packsContainer {
    width: 80%;
    margin: 0 auto;

}

.tableTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 40px 0;
}

.tableTitle span {
    font-size: 22px;
    font-weight: 600;
}

.tableHeader {
    background: #efefef;
}

.paginationBlock {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.paginationBlock {
    font-size: 12px;
    font-weight: 400;

}

.tablePagination {
    margin-right: 25px;
}

.tableSelectRowPerPage {
    margin: 0 10px;
}

.tableFilters {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.filterSearch, .filterShowPacks, .filterSlider {
    margin-right: 25px;
}


.sliderBlock {
    display: flex;
    align-items: center;
}

.inputLabelText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
}

.filterOffButton {
    align-self: flex-end;
}

.filterOffButton button {
    background-color: transparent;
    border: 1px solid #bdbdbe;
    border-radius: 3px;
    height: 40px;
    cursor: pointer;
}