.packsContainer {
    width: 80%;
    margin: 0 auto;

}

.tableTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 40px 0;
}

.tableTitle span {
    font-size: 22px;
    font-weight: 600;
}

.tableHeader {
    background: #efefef;
}
